* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* backdrop-filter: blur(3px); */
}

header {
  background-color: #2b3a6781;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2em;
}

header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header h1 {
  font-size: 2rem;
}

header img {
  width: 4rem;
  /* border: 1px solid black; */
  border-radius: 1rem;
}
nav {
  /* background-color: #1d3d4ddf; */
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.hero img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #2b3a67;
  text-align: center;
}

.hero p {
  max-width: 700px;
  text-align: center;
  color: white;
}

footer {
  position: absolute;
  background-color: #1d2a4d;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }
  .hero div {
    max-width: 50%;
  }
}

@media (max-width: 950px) {
  header div h1 {
    display: none;
  }
  a{
    font-size: smaller;
  }
}
